{% extends 'dummy.html' %}
{% load static %}

{% block title %}
<title>Nothing</title>
{% endblock %}

{% block body_block %}

<div class="xx">
    <h1></h1><br>
    <h1 style="color: white;">Catogories</h1>
    <h2 style="color: orange;">Genres</h2>
    <div class="zz"  >
        <div class="image-wrapper">
        <a href=""><img src="{% static 'images/anime1.jpg' %}"></a>
        <a href=""><img src="{% static 'images/action.jpg' %}"></a>
        <a href=""><img src="{% static 'images/comedy.jpg' %}"></a>
        <a href=""><img src="{% static 'images/documentary.jpg' %}"></a>
        <a href=""><img src="{% static 'images/drama.jpg' %}"></a>
        <a href=""><img src="{% static 'images/fantasy.jpg' %}"></a>
        <a href=""><img src="{% static 'images/horror.jpg' %}"></a>
        <a href=""><img src="{% static 'images/international.jpg' %}"></a>
        <a href=""><img src="{% static 'images/kids.jpg' %}"></a>
        <a href=""><img src="{% static 'images/music.jpg' %}"></a>
        <a href=""><img src="{% static 'images/mystery.jpg' %}"></a>
        <a href=""><img src="{% static 'images/romancek.jpg' %}"></a>
        </div><br><br>
    <h2 style="color: orange;">Featured collections</h2>
    <div class="zz">
      <div class="image">
      <a href=""><img src="{% static 'images/telugu.jpg' %}"></a>
      <a href=""><img src="{% static 'images/english.jpg' %}"></a>
      <a href=""><img src="{% static 'images/hindi.jpg' %}"></a>
      <a href=""><img src="{% static 'images/tamil.jpg' %}"></a>
      <a href=""><img src="{% static 'images/malayalam.jpg' %}"></a>
      <a href=""><img src="{% static 'images/kannada.jpg' %}"></a>
      <a href=""><img src="{% static 'images/marathi.jpg' %}"></a>
      <a href=""><img src="{% static 'images/punjabi.jpg' %}"></a>
      <a href=""><img src="{% static 'images/gujarati.jpg' %}"></a>
      <a href=""><img src="{% static 'images/bengali.jpg' %}"></a>
      </div>
    </div>
  </div>
  <style>
    body {
      background-color: black;
    }
    .xx {
      margin-top: 10%;
      width: 93%;
      position: relative;
      left: 7%;
    }
    
    .zz {
        width: 100%;
        
    }
    .zz h2 {
      background-color: black;
    }
    
    .navbar{
   
        background-color: black;
        color: red;
       }
       .nav-link{
        font-size: 20px;
        margin: 20px;
        
       }
       .navbar-brand{
        font-style: italic;
        font-weight: bold;
        font-size: 30px;
       }
       .image-wrapper {
        background-color: black;
        display: inline-block;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }
      .image-wrapper h2 {
        display: inline-block;
        margin-right: 12%;
        margin-left: 1%;
        margin-bottom: -2%;
      }
      .image-wrapper a img {
        width: 20%;
        height: 10%;
        border-radius: 5px;
        margin: 15px;
      }
      .image-wrapper a img:hover {
        cursor: pointer;
        transform: scale(1.2);
        box-shadow: 0px 0px 20px black;
        border-radius: 10px;
      }
      .image {
        background-color: black;
        display: inline-block;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }
      .image h2 {
        display: inline-block;
        margin-right: 12%;
        margin-left: 1%;
        margin-bottom: -2%;
      }
      .image a img {
        width: 19%;
        height: 10%;
        border-radius: 5px;
        margin: 14px;
      }
      .image a img:hover {
        cursor: pointer;
        transform: scale(1.05);
        box-shadow: 0px 0px 20px black;
        border-radius: 10px;
      }

      .c {
        background-color: white;
        display: flex;
        justify-content: space-evenly;
        margin-top: 10%;
      }
      .c h1 {
        margin-left: 5%;
        margin-top: 5%;
      }
      footer
      {
        background-color: black;
        text-align: center;
        color: white;
        padding: 20px;
              
      }
      footer>h1
      {
        margin: 0px;
      }
  </style>

{% endblock %}