{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <img src="{% static 'images/prime11.jpg' %}" alt="" width="15%" height="7%">
        <form method="POST" enctype="multipart/form-data">
           
            <div><br>
                <h1 style="color: orange;">Create account</h1>
                {% csrf_token %}
                {{ufo.as_p}}
                {{pfo.as_p}}

                <input type="submit" value="submit"><br><br><br>
            </div>
        </form>
    </center>
    <style>
        form div {
            width: 27%;
            background-color: rgb(50, 47, 47);
            border-radius: 20px;
            border: 2px solid blueviolet;
            color: white;
        }
    </style>
</body>
</html>