{% extends 'dummy.html' %}
{% load static %}

{% block title %}
<title>Nothing</title>
{% endblock %}

{% block body_block %}
<div class="a"><br><br><br><br><br><br>
        <h2 style="color: orange;">Free on prime video channels</h2><br>
        <div>
            <a href=""><img src="{% static 'images/img/a5.jpg' %}"></a>
            <h4>watch now</h4>
        </div>
        <div>
            <a href=""><img src="{% static 'images/img/a6.jpg' %}"></a>
            <h4>watch now</h4>
        </div>
        <div>
            <a href=""><img src="{% static 'images/img/a10.jpg' %}"></a>
            <h4>watch now</h4>
        </div>
        <div>
            <a href=""><img src="{% static 'images/img/r.jpg' %}"></a>
            <h4>watch now</h4>
        </div>
        <div>
            <a href=""><img src="{% static 'images/img/v.jpg' %}"></a>
            <h4>watch now</h4>
        </div><br><br>

        <h2 style="color: orange;">Science fiction movies</h2><br>
        <div>
          <a href=""><img src="{% static 'images/img/a24.jpg' %}"></a>
          <h4>Rent</h4>
        </div>
        <div>
            <a href=""><img src="{% static 'images/img/a27.jpg' %}"></a>
            <h4>Rent</h4>
        </div>
        <div>
            <a href=""><img src="{% static 'images/img/z.jpg' %}"></a>
            <h4>Rent</h4>
        </div>
        <div>
            <a href=""><img src="{% static 'images/img/y.jpg' %}"></a>
            <h4>Rent</h4>
        </div>
        <div>
            <a href=""><img src="{% static 'images/img/g.jpg' %}"></a>
            <h4>Rent</h4>
        </div><br><br>

        <h2 style="color: orange;">New release movies</h2><br>
        <div>
          <a href=""><img src="{% static 'images/img/a14.jpg' %}"></a>
          <h4>watch now</h4>
        </div>
        <div>
            <a href=""><img src="{% static 'images/img/a20.jpg' %}"></a>
            <h4>watch now</h4>
        </div>
        <div>
            <a href=""><img src="{% static 'images/img/q.jpg' %}"></a>
            <h4>watch now</h4>
        </div>
        <div>
            <a href=""><img src="{% static 'images/img/a26.jpg' %}"></a>
            <h4>watch now</h4>
        </div>
        <div>
            <a href=""><img src="{% static 'images/img/u.jpg' %}"></a>
            <h4>watch now</h4>
        </div><br><br>

        <h2 style="color: orange;">Subscriptions you might like</h2><br>
        <div>
          <a href=""><img src="{% static 'images/img/s1.jpg' %}"></a>
          <h4>Subscribe</h4>
        </div>
        <div>
            <a href=""><img src="{% static 'images/img/s2.jpg' %}"></a>
            <h4>Subscribe</h4>
        </div>
        <div>
            <a href=""><img src="{% static 'images/img/s3.jpg' %}"></a>
            <h4>Subscribe</h4>
        </div>
        <div>
            <a href=""><img src="{% static 'images/img/s4.jpg' %}"></a>
            <h4>Subscribe</h4>
        </div>
        <div>
            <a href=""><img src="{% static 'images/img/s5.jpg' %}"></a>
            <h4>Subscribe</h4>
        </div><br><br>

        <h2 style="color: orange;">AMC+: Most popular</h2><br>
        <div>
          <a href=""><img src="{% static 'images/img/x.jpg' %}"></a>
          <h4>watch now</h4>
        </div>
        <div>
            <a href=""><img src="{% static 'images/img/s.jpg' %}"></a>
            <h4>watch now</h4>
        </div>
        <div>
            <a href=""><img src="{% static 'images/img/o.jpg' %}"></a>
            <h4>watch now</h4>
        </div>
        <div>
            <a href=""><img src="{% static 'images/img/i.jpg' %}"></a>
            <h4>watch now</h4>
        </div>
        <div>
            <a href=""><img src="{% static 'images/img/a24.jpg' %}"></a>
            <h4>watch now</h4>
        </div><br><br>

        <h2 style="color: orange;">VROTT: Most popular</h2><br>
        <div>
          <a href=""><img src="{% static 'images/img/a18.jpg' %}"></a>
          <h4>Rent</h4>
        </div>
        <div>
            <a href=""><img src="{% static 'images/img/a15.jpg' %}"></a>
            <h4>Rent</h4>
        </div>
        <div>
            <a href=""><img src="{% static 'images/img/a11.jpg' %}"></a>
            <h4>Rent</h4>
        </div>
        <div>
            <a href=""><img src="{% static 'images/img/a12.jpg' %}"></a>
            <h4>Rent</h4>
        </div>
        <div>
            <a href=""><img src="{% static 'images/img/a13.jpg' %}"></a>
            <h4>Rent</h4>
        </div><br><br>

        <h2 style="color: orange;">In the spotlight</h2><br>
        <div>
          <a href=""><img src="{% static 'images/img/a35.jpg' %}"></a>
          <h4>watch now</h4>
        </div>
        <div>
            <a href=""><img src="{% static 'images/img/a.jpg' %}"></a>
            <h4>watch now</h4>
        </div>
        <div>
            <a href=""><img src="{% static 'images/img/a44.jpg' %}"></a>
            <h4>watch now</h4>
        </div>
        <div>
            <a href=""><img src="{% static 'images/img/a40.jpg' %}"></a>
            <h4>watch now</h4>
        </div>
        <div>
            <a href=""><img src="{% static 'images/img/a38.jpg' %}"></a>
            <h4>watch now</h4>
        </div><br><br>
    </div>
    <style>
        .a {
          width: 90%;
          margin-left: 7%;
          
        }
        .a div {
            display: inline-block;
            width: 19%;
            height: 13%;
            
        }
        .a div img {
            width: 80%;
            height: 80%;
            transition: all 0s linear 0s;
        }
        .a div img:hover {
          transform: scale(1.2);
        }
        .a div h4 {
          
          color: white;
        }
        @media(max-width:700px) {
          .a div h4 {
            font-size: 18px;
            color: white;
          }
          .a h2 {
            font-size: 27px;
          } 
        }
   </style>

{% endblock %}